/cmake-build-debug/CMakeFiles/EC_HW5.dir/SJF.cpp.obj
/cmake-build-debug/CMakeFiles/EC_HW5.dir/Run.cpp.obj
/cmake-build-debug/CMakeFiles/EC_HW5.dir/Task.cpp.obj
/cmake-build-debug/CMakeFiles/EC_HW5.dir/NP.cpp.obj
/cmake-build-debug/CMakeFiles/EC_HW5.dir/PP.cpp.obj
/cmake-build-debug/CMakeFiles/EC_HW5.dir/SRTF.cpp.obj
/cmake-build-debug/
/cmake-build-debug/CMakeFiles/**
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/EC_HW5.cbp
/cmake-build-debug/EC_HW5.exe
/cmake-build-debug/input.txt
/cmake-build-debug/Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app